.chat-main
  .chat-main__group-info
    .group-info
      .group-info__name
        = group.name
      .group-info__member
        Member : Satoru
    .group-edit
      =link_to "#", class: "group-info-edit" do
        Edit
  .chat-main__message-list
    .message-info
      .message-info__name
        Satoru
      .message-info__date
        2019/12/13(Fri) 12:55
    .message-content
      おはよう！
    .message-info
      .message-info__name
        Satoru
      .message-info__date
        2019/12/13(Fri) 12:55
    .message-content
      おはよう！
    .message-info
      .message-info__name
        Satoru
      .message-info__date
        2019/12/13(Fri) 12:55
    .message-content
      おはよう！
  .chat-main__message-form
    .message-form
      %input{type: "text", class: "form-text" ,placeholder: "type a message"}
      %label{class: "form-image"}
        = icon('fas', 'image')
        %input{type: "file", class: "file-btn"}
    .message-send
      %label{class: "form-send"}
        %p
          Send
        %input{type: "submit", class: "send-btn", value:"Send"}

     .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'